*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

body{
  background:#f6f3ee;
  color:#2f2b28;
  overflow-x:hidden;
}

/* BACKGROUND */

body::before{
  content:"";

  position:fixed;
  inset:0;

  background:
  radial-gradient(circle at top left,
  rgba(166,148,120,0.10),
  transparent 30%),

  radial-gradient(circle at bottom right,
  rgba(120,128,102,0.08),
  transparent 30%);

  z-index:-2;
}

/* TOPBAR */

.topbar{
  width:100%;
  padding:22px 40px;

  display:flex;
  align-items:center;
  justify-content:space-between;
}

/* SEARCH */

.search-box{
  width:340px;
  height:52px;
  align-items: center;
  background:rgba(255,255,255,0.52);

  border:1px solid rgba(255,255,255,0.65);

  backdrop-filter:blur(18px);
  -webkit-backdrop-filter:blur(18px);

  border-radius:18px;

  display:flex;
  

  padding:0 18px;

  box-shadow:
  0 10px 30px rgba(60,45,30,0.06);
}

.search-box i{
  color:#8b8175;
  margin-right:12px;
}

.search-box input{
  border:none;
  outline:none;
  background:transparent;

  width:100%;

  font-size:14px;
  color:#2f2b28;
}

.search-box input::placeholder{
  color:#9f968b;
}

/* RIGHT */

.topbar-right{
  display:flex;
  align-items:flex-start;
  gap:16px;
}

/* SETTINGS */

.settings-btn{
  width:60px;
  height:60px;
  margin-top: 0;
  border:none;
  cursor:pointer;

  border-radius:18px;

  background:white;

  border:1px solid rgba(255,255,255,0.65);

  backdrop-filter:blur(18px);

  color:#5b534b;
  font-size:18px;

  transition:0.25s ease;

  box-shadow:
  0 10px 30px rgba(60,45,30,0.06);
}

.settings-btn:hover{
  transform:translateY(-2px);
}

/* PROFILE */

.profile-btn{
  width: 100%;  
  height:58px;

  padding:0 18px;

  border:none;
  cursor:pointer;

  border-radius:18px;

  background:rgba(255,255,255,0.60);
  border:1px solid rgba(255,255,255,0.7);
  border:none;

  backdrop-filter:blur(18px);

  display:flex;
  align-items:center;
  gap:12px;
  justify-content:space-between;
  color:#2f2b28;

  box-shadow:
  0 10px 30px rgba(15,23,42,0.06);
  position:relative;
  z-index:1001;
  transition:0.25s ease;
}

.profile-menu:hover{
transform:translateY(-2px);
}

.profile-avatar{
  width:34px;
  height:34px;

  border-radius:50%;

  background:
  linear-gradient(135deg,#8e7d68,#6e7462);

  color:white;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:15px;
  font-weight:500;
}

/* MAIN */

.dashboard{
  width:100%;
  max-width:1200px;

  margin:auto;

  padding:20px 24px 120px;
}

/* TIME */

.time-section{
  text-align:center;
  margin-top:30px;
}

.today-date{
  font-size:18px;
  color:#857b71;
  margin-bottom:12px;
}

#currentTime{
  font-size:72px;
  font-weight:700;

  color:#5f564f;

  letter-spacing:2px;
}

/* ATTENDANCE */


.attendance-buttons{
  margin-top:40px;

  display:flex;
  justify-content:center;
  gap:18px;

  flex-wrap:wrap;
}
/* CLOCK BUTTON BASE */

.clock-btn{
  width:150px;
  height:150px;

  border:none;
  cursor:pointer;

  border-radius:26px;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  gap:15px;

  font-size:20px;
  font-weight:500;

  transition:0.25s ease;

  box-shadow:
  0 10px 25px rgba(0, 0, 0, 0);
}

.clock-btn i{
  font-size:28px;
}

.clock-btn:hover{
  transform:translateY(-4px);
}

/* 出勤 */

.clock-btn.primary{
  background:#baceb3;

  color:#4d5b47;

  border:1px solid #cad7c4;
}

/* 休憩 */

.clock-btn.break{
  background:rgba(226, 220, 220, 0.267);

  color:#6a5f4b;

  border:1px solid #ffffff;
  box-shadow: #4a4f41;
}

/* 退勤 */

.clock-btn.danger{
  background:#3e1a009b;

  color:#fffefd;

  border:1px solid #cec4be;
}
/* MENU GRID */

.menu-grid{
  margin-top:60px;
  align-items: center;
  display:grid;
  justify-content: center;
  grid-template-columns:
  repeat(3, 270px);

  gap:30px;
}

/* MENU CARD */

.menu-card{
  height:72px;
  width: 270px;
  background:rgb(255, 255, 255);

  border:0px solid rgba(190, 185, 185, 0.642);

  backdrop-filter:blur(18px);

  border-radius:22px;

  display:flex;
  align-items:center;
  text-align: center;  
  padding:0 22px;
  justify-content: center;
  gap:15px;

  cursor:pointer;

  transition:0.25s ease;

  box-shadow:
  0 10px 30px rgba(42, 31, 15, 0.231);
}

.menu-card:hover{
  transform:translateY(-3px);
}

.menu-card i{
  font-size:18px;

  color:#321e08e5;

  width:24px;

  text-align:center;
}

.menu-card p{
  font-size:18px;
  font-weight:500;

  color:#6f5d4cec;
}

/* CHAT */

.chat-btn{
  position:fixed;

  right:30px;
  bottom:30px;

  width:64px;
  height:64px;

  border:none;
  cursor:pointer;

  border-radius:50%;

  background:
  linear-gradient(135deg,#8c7a64,#6f7465);

  color:white;

  font-size:22px;

  box-shadow:
  0 15px 35px rgba(80,65,45,0.18);

  transition:0.25s ease;

  z-index:100;
}

.chat-btn:hover{
  transform:
  translateY(-4px)
  scale(1.05);
}

/* PROFILE MENU */

.profile-menu{
  width:190px;
  align-self: flex-start;
  background:rgba(255,255,255,0.60);

  border:1px solid rgba(255,255,255,0.7);

  backdrop-filter:blur(18px);

  border-radius:20px;

  box-shadow:
  0 10px 30px rgba(15,23,42,0.06);

  overflow:visible;

  position:relative;
  font-size: 20px;
}

/* BUTTON */

.profile-btn{
  width:100%;
  height:58px;

  padding:0 18px;

  border:none;
  background:transparent;

  display:flex;
  align-items:center;
  justify-content:space-between;

  cursor:pointer;

  color:#2f2b28;
}

.profile-btn span{
  font-size:15px;
  font-weight:500;
  text-align: center;
  letter-spacing:0.2px;
}

/* LEFT */

.profile-info{
  display:flex;
  align-items:center;
  gap:12px;
}

/* DROPDOWN */
.dropdown-menu{
  position:absolute;

  top:46px;
  left:0;

  width:100%;

  display:none;
  flex-direction:column;

  padding:18px 8px 8px;

  background:rgba(255,255,255,0.94);

  border:1px solid rgba(255,255,255,0.7);

  border-top:none;

  backdrop-filter:blur(18px);

  border-radius:
  0 0 24px 24px;

  box-shadow:
  0 15px 35px rgba(15,23,42,0.08);

  z-index:1000;
}

/* OPEN */

.dropdown-menu.show{
  display:flex;
}

/* LINKS */

.dropdown-menu a{
  text-decoration:none;

  color:#4a433d;

  font-size:14px;
  font-weight:500;

  padding:12px 14px;

  border-radius:12px;

  display:flex;
  align-items:center;

  gap:10px;
}

.dropdown-menu a:hover{
  background:rgba(140,122,100,0.10);
  transform:translateY(-2px);
}
