*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

body{
  background:#f6f3ee;
  color:#2f2b28;
  overflow:hidden;
}

/* BACKGROUND */

body::before{
  content:"";

  position:fixed;
  inset:0;

  background:
  radial-gradient(circle at top left,
  rgba(180,155,122,0.10),
  transparent 30%),

  radial-gradient(circle at bottom right,
  rgba(140,146,125,0.08),
  transparent 30%);

  z-index:-2;
}

/* HERO */

.hero{
  min-height:100vh;

  position:relative;
  overflow:hidden;

  padding:30px 20px 100px;
}

/* GLOW */

.glow{
  position:absolute;
  border-radius:50%;
  filter:blur(90px);
}

.glow1{
  width:320px;
  height:320px;

  background:#b49b7a;

  top:40px;
  left:-80px;

  opacity:0.16;
}

.glow2{
  width:380px;
  height:380px;

  background:#8c927d;

  right:-100px;
  bottom:-120px;

  opacity:0.14;
}

/* PARTICLES */

.particles{
  position:absolute;
  inset:0;
  pointer-events:none;
}

.particles span{
  position:absolute;

  width:4px;
  height:4px;

  border-radius:50%;

  background:rgba(140,122,100,0.28);

  animation:floatParticle 12s linear infinite;
}

.particles span:nth-child(1){
  top:15%;
  left:12%;
}

.particles span:nth-child(2){
  top:35%;
  left:78%;
}

.particles span:nth-child(3){
  top:72%;
  left:18%;
}

.particles span:nth-child(4){
  top:82%;
  left:68%;
}

.particles span:nth-child(5){
  top:55%;
  left:48%;
}

@keyframes floatParticle{
  from{
    transform:translateY(0);
  }

  to{
    transform:translateY(-180px);
  }
}

/* CONTENT */

.hero-content{
  width:100%;
  max-width:1200px;

  margin:auto;

  min-height:calc(100vh - 120px);

  display:flex;
  align-items:center;
  justify-content:center;

  position:relative;
  z-index:5;
}

/* LOGIN AREA */

.left-content{
  width:100%;
  max-width:480px;

  margin:auto;
}

/* LOGO */

.logo-wrap{
  position:absolute;

  top:0;
  left:0;

  display:flex;
  align-items:center;

  gap:14px;
 
  margin-left: -80px;
}

.logo-wrap img{
  width:58px;
}

.small-text{
  font-size:15px;
  color:#7b746d;
  font-weight: 500;
}

.logo-text h1{
  font-size:18px;
  font-weight:600;

  color:#585049;
}

/* WELCOME */

.welcome-text{
  text-align:center;
  margin-bottom:10px;
}

.welcome-text h2{
  font-size:46px;
  line-height:1.1;

  color:#411f01;
  margin-top: 100px;
}

.welcome-sub{
  text-align:center;
  margin-bottom:32px;

  color:#7c746d;
  font-size:18px;
  font-weight: 600;
}

/* LOGIN CARD */

.login-card{
  width:100%;

  background:rgba(255,255,255,0.52);

  border:1px solid rgba(163, 145, 145, 0.339);

  backdrop-filter:blur(18px);
  -webkit-backdrop-filter:blur(18px);

  border-radius:28px;

  padding:34px;

  position:relative;
  overflow:hidden;

  box-shadow:
  0 10px 32px rgba(44, 35, 25, 0.321);
}

.login-card::before{
  content:"";

  position:absolute;
  inset:0;

  background:
  linear-gradient(
    135deg,
    rgba(255,255,255,0.35),
    rgba(255,255,255,0.05)
  );

  pointer-events:none;
}

/* INPUT */

.input-group{
  margin-bottom:22px;
}

.input-group label{
  display:block;

  margin-bottom:8px;

  font-size:14px;

  color:#5b534b;
}

.input-group input{
  width:100%;

  padding:14px 16px;

  border:none;
  outline: 1px;;

  border-radius:14px;

  background:rgba(255,255,255,0.75);

  border:1px solid rgba(16, 16, 15, 0.43);

  color:#2f2b28;

  font-size:15px;
}

.input-group input::placeholder{
  color:#a29a91;
}

/* BUTTON */

.login-btn{
  width:100%;

  border:none;
  cursor:pointer;

  padding:15px;

  border-radius:14px;

  background:
  linear-gradient(135deg,#604b31,#4d4431);

  color:white;

  font-size:15px;
  font-weight:600;

  transition:0.25s ease;
}

.login-btn:hover{
  transform:translateY(-2px);

  box-shadow:
  0 10px 30px rgba(120,100,80,0.20);
}

/* FOOTER */

footer{
  position:fixed;

  bottom:24px;
  left:0;

  width:100%;

  text-align:center;

  z-index:10;
}

footer p{
  font-size:13px;

  color:rgba(60,50,45,0.45);
}

/* MOBILE */

@media(max-width:768px){

  body{
    overflow:auto;
  }

  .hero{
    padding:60px 20px 120px;
  }

  .welcome-text h2{
    font-size:36px;
  }

  .login-card{
    padding:28px;
  }

}